<div class="row">
    <div class="analytics-filters">
        <div class="row">
            <div class="col-12">
                <h2>Citations over time report</h2>
            </div>
            <div class="col-12">
                Geographic area (city or county)
                <input type="text"
                       class="form-control"
                       placeholder="Search"
                       [(ngModel)]="selectedGeography"
                       [ngbTypeahead]="searchGeographies"
                       [inputFormatter]="formatLookup"
                       [resultFormatter]="formatLookup" />
            </div>
            <div class="col-12">
                Reporting agency
                <input type="text"
                       class="form-control"
                       placeholder="Search"
                       [(ngModel)]="selectedAgency"
                       [ngbTypeahead]="searchAgencies"
                       [inputFormatter]="formatLookup"
                       [resultFormatter]="formatLookup" />
            </div>

            <div class="col-12">
                Violation Classification
                <select class="ui-select2" [(ngModel)]="selectedClassification" >
                    <option *ngFor="let item of violationClassification">{{item}}</option>
                </select>
            </div>

            <div class="col-12">
                Crash Involved
                <button-group anyOrAllText="Any"
                                [items]="yesNo"
                                [(ngModel)]="selectedCrashInvolved"></button-group>
            </div>
            <div class="col-12">
                <button class="btn btn-sm btn-primary" [disabled]="loading" (click)="refresh()">
                    Refresh <span class="fa fa-spin fa-spinner" [hidden]="!loading"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 analytics-main">
        <citations-by-year [query]="query" (loaded)="citationsByYearLoaded=true"></citations-by-year>
        <citations-by-month [years]="years" [query]="query" (loaded)="citationsByMonthLoaded=true"></citations-by-month>
        <citations-by-day [years]="years" [query]="query" (loaded)="citationsByDayLoaded=true"></citations-by-day>
    </div>
</div>
