<div class="row">
    <div class="analytics-filters">
        <div class="row">
            <div class="col-12">
                <h2>Citation reporting</h2>
            </div>
            <div class="col-12">
                City or county
                <input type="text"
                       class="form-control"
                       placeholder="Search"
                       [(ngModel)]="selectedGeography"
                       [ngbTypeahead]="searchGeographies"
                       [inputFormatter]="formatLookup"
                       [resultFormatter]="formatLookup" />
            </div>
            <div class="col-12">
                Reporting agency
                <input type="text"
                       class="form-control"
                       placeholder="Search"
                       [(ngModel)]="selectedAgency"
                       [ngbTypeahead]="searchAgencies"
                       [inputFormatter]="formatLookup"
                       [resultFormatter]="formatLookup" />
            </div>

            <div class="col-12 mt-2">
                Violation Classification
                <select class="custom-select" [(ngModel)]="selectedClassification" >
                    <option *ngFor="let item of violationClassification">{{item}}</option>
                </select>
            </div>

            <div class="col-12">
                Crash Involved
                <button-group anyOrAllText="Any"
                                [items]="yesNo"
                                [(ngModel)]="selectedCrashInvolved"></button-group>
            </div>
            <div class="col-12">
                <button class="btn btn-sm btn-primary" [disabled]="loading" (click)="refresh()">
                    Refresh <span class="fa fa-spin fa-spinner" [hidden]="!loading"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 analytics-main">
        <events-by-year header="Citations by year"
                        [query]="query"
                        [getEvents]="getCitationsByYear"
                        (loaded)="citationsByYearLoaded=true"></events-by-year>
        <events-by-month header="Citations by month"
                         [years]="years"
                         [query]="query"
                         [getEvents]="getCitationsByMonth"
                         (loaded)="citationsByMonthLoaded=true"></events-by-month>
        <events-by-day header="Citations by day"
                       [years]="years"
                       [query]="query"
                       [getEvents]="getCitationsByDay"
                       (loaded)="citationsByDayLoaded=true"></events-by-day>
        <events-by-attribute header="Citations by attribute"
                             [query]="query"
                             [attributes]="reportAttributes"
                             [years]="years"
                             [getEvents]="getCitationsByAttribute"
                             (loaded)="citationsByAttributeLoaded=true"></events-by-attribute>
    </div>
</div>
