<div class="row">
    <div class="analytics-filters">
        <div class="row">
            <div class="col-12">
                <h2>Crash reporting</h2>
            </div>
            <div class="col-12">
                City or county
                <input type="text"
                       class="form-control"
                       placeholder="Search"
                       [(ngModel)]="selectedGeography"
                       [ngbTypeahead]="searchGeographies"
                       [inputFormatter]="formatLookup"
                       [resultFormatter]="formatLookup" />
            </div>
            <div class="col-12">
                Reporting agency
                <input type="text"
                       class="form-control"
                       placeholder="Search"
                       [(ngModel)]="selectedAgency"
                       [ngbTypeahead]="searchAgencies"
                       [inputFormatter]="formatLookup"
                       [resultFormatter]="formatLookup" />
            </div>
            <div class="col-12">
                <table>
                    <tr>
                        <td>Severity</td>
                        <td>
                            <button-group anyOrAllText="All"
                                          [multipleSelect]="true"
                                          [items]="severities"
                                          [(ngModel)]="selectedSeverities"></button-group>
                        </td>
                    </tr>
                    <tr>
                        <td>Impairment</td>
                        <td>
                            <button-group anyOrAllText="Any"
                                          [multipleSelect]="true"
                                          [items]="impairments"
                                          [(ngModel)]="selectedImpairments"></button-group>
                        </td>
                    </tr>
                    <tr>
                        <td>Bike/Ped</td>
                        <td>
                            <button-group anyOrAllText="Any"
                                          [multipleSelect]="true"
                                          [items]="bikePedTypes"
                                          [(ngModel)]="selectedBikePedTypes"></button-group>
                        </td>
                    </tr>
                    <tr>
                        <td>CMV-related</td>
                        <td>
                            <button-group anyOrAllText="Any"
                                          [items]="yesNo"
                                          [(ngModel)]="selectedCmvRelated"></button-group>
                        </td>
                    </tr>
                    <tr>
                        <td>Codeable</td>
                        <td>
                            <button-group anyOrAllText="Any"
                                          [items]="yesNo"
                                          [(ngModel)]="selectedCodeable"></button-group>
                        </td>
                    </tr>
                    <tr>
                        <td>Form type</td>
                        <td>
                            <button-group anyOrAllText="Any"
                                          [items]="formTypes"
                                          [(ngModel)]="selectedFormType"></button-group>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-12">
                <button class="btn btn-sm btn-primary" [disabled]="loading" (click)="refresh()">
                    Refresh <span class="fa fa-spin fa-spinner" [hidden]="!loading"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 analytics-main">
        <events-by-year header="Crashes by year"
                        [query]="query"
                        [getEvents]="getCrashesByYear"
                        (loaded)="crashesByYearLoaded=true"></events-by-year>
        <events-by-month header="Crashes by month"
                         [years]="years"
                         [query]="query"
                         [getEvents]="getCrashesByMonth"
                         (loaded)="crashesByMonthLoaded=true"></events-by-month>
        <events-by-day header="Crashes by day"
                       [years]="years"
                       [query]="query"
                       [getEvents]="getCrashesByDay"
                       (loaded)="crashesByDayLoaded=true"></events-by-day>
        <events-by-attribute header="Crashes by attribute"
                             [query]="query"
                             [attributes]="reportAttributes"
                             [years]="years"
                             [getEvents]="getCrashesByAttribute"
                             (loaded)="crashesByAttributeLoaded=true"></events-by-attribute>
        <data-timeliness header="Data timeliness"
                         [years]="years"
                         [query]="query"
                         [getEvents]="getDataTimeliness"
                         (loaded)="dataTimelinessLoaded=true"></data-timeliness>
    </div>
</div>
