<div class="row">
    <div class="analytics-filters">
        <div class="row">
            <div class="col-12">
                <h2>Crashes over time report</h2>
            </div>
            <div class="col-12">
                Geographic area (city or county)
                <input type="text"
                       class="form-control"
                       placeholder="Search"
                       [(ngModel)]="selectedGeography"
                       [ngbTypeahead]="searchGeographies"
                       [inputFormatter]="formatLookup"
                       [resultFormatter]="formatLookup" />
            </div>
            <div class="col-12">
                Reporting agency
                <input type="text"
                       class="form-control"
                       placeholder="Search"
                       [(ngModel)]="selectedAgency"
                       [ngbTypeahead]="searchAgencies"
                       [inputFormatter]="formatLookup"
                       [resultFormatter]="formatLookup" />
            </div>
            <div class="col-12">
                Severity
                <button-group anyOrAllText="All"
                              [multipleSelect]="true"
                              [items]="severities"
                              [(ngModel)]="selectedSeverities"></button-group>
            </div>
            <div class="col-12">
                Impairment
                <button-group anyOrAllText="All"
                              [multipleSelect]="true"
                              [items]="impairments"
                              [(ngModel)]="selectedImpairments"></button-group>
            </div>
            <div class="col-12">
                Bike/Ped
                <button-group anyOrAllText="Any"
                              [multipleSelect]="true"
                              [items]="bikePedTypes"
                              [(ngModel)]="selectedBikePedTypes"></button-group>
            </div>
            <div class="col-12">
                CMV-related
                <button-group anyOrAllText="Any"
                              [items]="yesNo"
                              [(ngModel)]="selectedCmvRelated"></button-group>
            </div>
            <div class="col-12">
                Codeable
                <button-group anyOrAllText="Any"
                              [items]="yesNo"
                              [(ngModel)]="selectedCodeable"></button-group>
            </div>
            <div class="col-12">
                Form type
                <button-group anyOrAllText="Any"
                              [items]="formTypes"
                              [(ngModel)]="selectedFormType"></button-group>
            </div>
            <div class="col-12">
                <button class="btn btn-sm btn-primary" [disabled]="loading" (click)="refresh()">
                    Refresh <span class="fa fa-spin fa-spinner" [hidden]="!loading"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 analytics-main">
        <crashes-by-year [query]="query" (loaded)="crashesByYearLoaded=true"></crashes-by-year>
        <crashes-by-month [years]="years" [query]="query" (loaded)="crashesByMonthLoaded=true"></crashes-by-month>
        <crashes-by-day [years]="years" [query]="query" (loaded)="crashesByDayLoaded=true"></crashes-by-day>
        <events-by-attribute [header]="crashesByAttributeHeader"
                             [query]="query"
                             [attributes]="crashAttributes"
                             [years]="years"
                             [getEvents]="getCrashesByAttribute"
                             (loaded)="crashesByAttributeLoaded=true"></events-by-attribute>
    </div>
</div>
