@using Microsoft.Extensions.Options
@using S4Analytics.Models
@inject IOptions<ClientOptions> clientOptions

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Signal Four Analytics</title>
        <base href="@clientOptions.Value.BaseUrl" /> @* The base href is required by the Angular router. *@
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
