<template [ngIf]="ready">
    <div class="row pbcat-summary-row">
        <div class="col-sm-2 col-md-1">
            <span [class.checked]="isSaved" class="pbcat-summary-check fa fa-check-circle"></span>
        </div>
        <div class="col-sm-10 col-md-11">
            <h4>The crash has been typed as:</h4>
            <h5>{{crashType.crashTypeDesc}}</h5>
        </div>
    </div>

    <div class="row pbcat-summary-row">
        <div class="col-sm-push-2 col-sm-8 col-md-push-1 col-md-10">
            <h6>Summary</h6>
        </div>
    </div>

    <div class="row" *ngFor="let step of stepHistory; let i=index">
        <div class="col-sm-push-2 col-sm-8 col-md-push-1 col-md-10">
            <a href="javascript:void(0);" (click)="jumpBack(i+1)">
                {{i+1}}. {{step.title}} <b>{{step.selectedItem.title}}</b>
            </a>
        </div>
    </div>

    <div class="row pbcat-summary-row">
        <div class="col-sm-push-2 col-sm-8 col-md-push-1 col-md-10">
            <h6>Notes</h6>
            <textarea [ngModel]="notes" (ngModelChange)="changeNotes($event)" [disabled]="isSaved"></textarea>
        </div>
    </div>
</template>
