<div *ngIf="ready()">
    <div>(PBCAT Header)</div>
    <div>
        Auto advance:
        <button [disabled]="flow.autoAdvance"
                [class.inactive-button]="flow.autoAdvance"
                (click)="toggleAutoAdvance(true)">
        On</button>
        <button [disabled]="!flow.autoAdvance"
                [class.inactive-button]="!flow.autoAdvance"
                (click)="toggleAutoAdvance(false)">
        Off</button>
    </div>
    <pbcat-step *ngIf="!flow.showSummary"
                [hsmvReportNumber]="hsmvReportNumber"
                [stepNumber]="stepNumber"
                [step]="flow.currentStep"
                (selectItem)="selectItem($event)">
    </pbcat-step>
    <pbcat-summary *ngIf="flow.showSummary"
                   [hsmvReportNumber]="hsmvReportNumber"
                   [stepHistory]="flow.stepHistory">
    </pbcat-summary>
    <div *ngIf="flow.showSummary">
        <button (click)="saveAndClose()">Save and Close</button>
        <button (click)="saveAndNext()">Save and Next</button>
    </div>
    <div>
        <a *ngIf="this.showBackLink()" [routerLink]="backLink().route">Back to <i>{{backLink().title}}</i></a>
        <a *ngIf="this.showProceedLink()" [routerLink]="proceedLink().route">Proceed to <i>{{proceedLink().title}}</i></a>
    </div>
    <pre>backLink(): {{backLink() | json}}</pre>
    <pre>proceedLink(): {{proceedLink() | json}}</pre>
    <div>(PBCAT Footer)</div>
</div>
