<div class="row">
    <div class="col-sm-12">
        <h3>Step {{stepNumber}}. {{step.title}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>{{step.description}}</h4>
    </div>
</div>

<!-- image-based template -->
<template [ngIf]="hasImages">
    <div class="card-deck-wrapper">
        <template ngFor let-items [ngForOf]="groupedItems">
            <div class="card-deck">
                <template ngFor let-item [ngForOf]="items">
                    <div class="card" (click)="makeSelection(item)">
                        <!--<span *ngIf="item.selected" class="pbcat-image-checked glyphicon glyphicon-ok-sign"></span>-->
                        <img class="card-img-top" *ngIf="item.imageUrl" [src]="item.imageUrl" />
                        <template ngFor let-imageUrl [ngForOf]="item.imageUrls">
                            <img class="card-img-top" [src]="imageUrl" />
                        </template>
                        <div class="card-block">
                            <h5 class="card-title">{{item.title}}</h5>
                            <p class="card-text" *ngIf="item.description">{{item.description}}</p>
                        </div>
                    </div>
                </template>
                <template [ngIf]="items.length < 3">
                    <div class="card placeholder" *ngFor="let i of placeholderArray"></div>
                </template>
            </div>
        </template>
    </div>
</template>

<!-- non-image template -->
<template [ngIf]="!hasImages">
    <template ngFor let-item [ngForOf]="step.items">
        <div class="row" *ngIf="item.subHeading">
            <div class="col-sm-8">
                <h5>{{item.subHeading}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card" (click)="makeSelection(item)">
                    <!--<span [class.checked]="item.selected" class="pbcat-list-check glyphicon glyphicon-ok-sign"></span>-->
                    <div class="card-block">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text" *ngIf="item.description">{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </template>
</template>
