<div class="container" *ngIf="ready">
    <div class="row">
        <div class="col-sm-4">
            <h4>{{pageTitle}}</h4>
        </div>
        <div class="col-sm-4 text-center">
            Auto advance:
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary"
                        [class.active]="autoAdvance"
                        (click)="autoAdvance=true">
                    On
                </button>
                <button type="button" class="btn btn-secondary"
                        [class.active]="!autoAdvance"
                        (click)="autoAdvance=false">
                    Off
                </button>
            </div>
        </div>
        <div class="col-sm-4 text-right">
            Crash report viewer:
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary"
                        [class.active]="showReportViewer"
                        (click)="showReportViewer=true">
                    On
                </button>
                <button type="button" class="btn btn-secondary"
                        [class.active]="!showReportViewer"
                        (click)="showReportViewer=false">
                    Off
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            Crash Report #{{hsmvReportNumber}}
        </div>
    </div>

    <div class="pbcat-alert alert alert-dismissible"
         [class.hidden]="!alertVisible"
         [class.alert-success]="alertType==='success'"
         [class.alert-info]="alertType==='info'"
         [class.alert-warning]="alertType==='warning'"
         [class.alert-danger]="alertType==='danger'">
        <button type="button" class="close" (click)="dismissAlert()"><span>&times;</span></button>
        <strong>{{alertHeading}}</strong> {{alertMessage}}
    </div>

    <pbcat-step *ngIf="!showSummary"
                [hsmvReportNumber]="hsmvReportNumber"
                [stepNumber]="currentStepNumber"
                [step]="currentStep"
                (selectItem)="selectItem($event)">
    </pbcat-step>

    <pbcat-summary *ngIf="showSummary"
                   [hsmvReportNumber]="hsmvReportNumber"
                   [stepHistory]="stepHistory"
                   [crashType]="crashType"
                   [isSaved]="isSaved"
                   [(notes)]="flow.notes"
                   (jumpBackToStep)="jumpBackToStep($event)">
    </pbcat-summary>

    <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-sm btn-outline-primary float-left" *ngIf="canGoBack" [class.disabled]="isSaved" [disabled]="isSaved" (click)="goBack()">
                &larr; Back to <em>{{backLinkText}}</em>
            </button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-sm btn-outline-primary" *ngIf="canReturnToSummary" (click)="returnToSummary()">
                Return to Summary
            </button>
        </div>
        <div class="col-sm-4 float-right">
            <button type="button" class="btn btn-sm btn-outline-primary float-right" *ngIf="canProceed" (click)="proceed()">
                Proceed to <em>{{proceedLinkText}}</em> &rarr;
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary float-right" *ngIf="showSummary" [class.disabled]="!nextCrashExists" [disabled]="!nextCrashExists" (click)="this.advanceToNext()">
                Next Crash &rarr;
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary float-right" *ngIf="showSummary" [class.disabled]="isSaved" [disabled]="isSaved" (click)="acceptAndSave()">
                Accept and Save
            </button>
        </div>
    </div>
</div>
