<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Add these feeds to the list of available feeds -->
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="XPlan" value="http://xplan-bldsrv01/NuGetServer/nuget" />
  </packageSources>
</configuration>
