<section class="event-analysis-grid">
    <div class="filters">
        <!-- Form Type -->
       <!--<simple-filter filterName="Form Type"
                       [nodes]="allFormType"
                       checkMode="multiple"
                       anyOrAllText="All"
                       [(ngModel)]="this.state.crashQuery.formType"></simple-filter>-->
        <!-- Codeable -->
        <!--<simple-filter filterName="DHSMV Codeable Crashes"
                       [nodes]="allCodeableOnly"
                       anyOrAllText="All"
                       [(ngModel)]="this.state.crashQuery.codeableOnly"></simple-filter>-->
        <!-- Crash Severity -->
        <!--<simple-filter filterName="Crash Severity"
                       [nodes]="allCrashSeverity"
                       checkMode="multiple"
                       anyOrAllText="All"
                       [(ngModel)]="this.state.crashQuery.crashSeverity"></simple-filter>-->
        <!-- Crash Type -->
        <!--<simple-filter filterName="Crash Type"
                       [nodes]="allCrashTypes"
                       checkMode="multiple"
                       anyOrAllText="All"
                       [(ngModel)]="this.state.crashQuery.crashTypeSimple"></simple-filter>-->
        <!-- Road System Identifier -->
        <!--<simple-filter filterName="Road System Identifier"
                       [nodes]="allRdSysIds"
                       checkMode="multiple"
                       anyOrAllText="All"
                       [(ngModel)]="this.state.crashQuery.roadSystemIdentifier"></simple-filter>-->
        <!-- Weather Condition -->
        <!--<simple-filter filterName="Weather Condition"
                       [nodes]="allWeatherCondition"
                       checkMode="multiple"
                       anyOrAllText="All"
                       [(ngModel)]="this.state.crashQuery.weatherCondition"></simple-filter>-->
        <!--Cmv Involved -->
        <!--<simple-filter filterName="CMV Involved"
                       [nodes]="allCmvInvolved"
                       checkMode="multiple"
                       anyOrAllText="All"
                       [(ngModel)]="this.state.crashQuery.cmvInvolved"></simple-filter>-->
        <!--Bike/Ped Involved -->
        <!--<simple-filter filterName="Bike/Pedestrian Involved"
                       [nodes]="allBikePedInvolved"
                       checkMode="multiple"
                       anyOrAllText="All"
                       [(ngModel)]="bikePedInvolved"></simple-filter>-->
        <!--Intersection Related -->
        <!--<simple-filter filterName="Intersection Related"
                       [nodes]="allIntersectionRelated"
                       checkMode="multiple"
                       anyOrAllText="All"
                       [(ngModel)]="this.state.crashQuery.intersectionRelated"></simple-filter>-->
        <!--Day or Night -->
        <!--<simple-filter filterName="Day or Night"
                       [nodes]="allDayOrNight"
                       checkMode="multiple"
                       anyOrAllText="All"
                       [(ngModel)]="this.state.crashQuery.dayOrNight"></simple-filter>-->
        <!--Lane Departure -->
        <simple-filter filterName="Lane Departure"
                       [nodes]="allLaneDeparture"
                       checkMode="multiple"
                       anyOrAllText="All"
                       [(ngModel)]="laneDeparture"
                       ngDefaultControl></simple-filter>
        <!--<kendo-treeview [nodes]="allLaneDeparture"
                         textField="name"
                         [children]="children"
                         [hasChildren]="hasChildren"
                         customCheck>
        </kendo-treeview>-->

        <!--Reporting Agency -->
        <!--<simple-filter filterName="Reporting Agency"
                   [nodes]="reportingAgency
                   checkMode="multiple"
                   anyOrAllText="All"
                   [(ngModel)]="this.state.crashQuery.reportingAgency"></simple-filter>-->
        <!-- Behavioral Factors need to map ngModel -->
        <!--<simple-filter filterName="Behavioral Factors"
                       [nodes]="allBehavioralFactors"
                       checkMode="multiple"
                       anyOrAllText="Any"
                       [(ngModel)]="behavioralFactors"></simple-filter>-->

    </div>
    <div class="filter-controls">
        <button type="button" class="btn btn-outline-dark" (click)="applyFilters()">Search</button>
        <button type="button" class="btn btn-outline-dark" >Clear</button>
    </div>
    <div class="scope">
        Date/Time
        <a href="javascript:void(0)" (click)="dateTimeModal.open()">
            <span class="badge badge-secondary">
                {{dateTimeLabel}}
                <span class="fa fa-caret-down"></span>
            </span>
        </a>
        Place
        <a href="javascript:void(0)" (click)="placeModal.open()">
            <span class="badge badge-secondary">
                {{placeLabel}}
                <span class="fa fa-caret-down"></span>
            </span>
        </a>
    </div>
    <div class="map-controls">
        Total: {{totalCount}} / Mapped: {{mappedCount}} / Unmapped: {{unmappedCount}}
    </div>
    <div class="map" id="mapArea">
        <event-map mapId="eventMap"
                   [crashFeatureSet]="state.crashFeatureSet"
                   (extentChange)="extentChange($event)"></event-map>
    </div>
    <kendo-grid [class]="['attributes']"
                [data]="state.crashGridData"
                [pageSize]="gridPageSize"
                [scrollable]="'virtual'"
                [skip]="crashGridSkip"
                [pageable]="true"
                [rowHeight]="35"
                (pageChange)="pageChange($event)">
        <kendo-grid-column field="id" title="Id"></kendo-grid-column>
        <kendo-grid-column field="hsmvReportNumber" title="Report Number"></kendo-grid-column>
        <kendo-grid-column field="crashDate" title="Date"></kendo-grid-column>
        <kendo-grid-column field="crashTime" title="Time"></kendo-grid-column>
        <kendo-grid-column field="agncyNm" title="Agency Name"></kendo-grid-column>
    </kendo-grid>
    <div class="attribute-controls">attribute controls</div>
</section>

<date-time-modal #dateTimeModal
                 [scope]="state.dateTimeScope"
                 (apply)="applyDateTimeScope($event)"></date-time-modal>

<place-modal #placeModal
                 [scope]="state.placeScope"
                 (apply)="applyPlaceScope($event)"></place-modal>
