<div class="container-fluid">
    <div class="row">
        <div class="analytics-filters">
            <div class="card card-inverse bg-inverse">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Crash</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Violation</a>
                        </li>
                    </ul>
                </div>
                <div class="card-block">
                    Crash filters
                </div>
            </div>
        </div>
        <div class="col-12 analytics-main">
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-5 col-xl-6 mb-3">
                            <div class="input-group mr-lg-3 search-saved-query">
                                <span class="input-group-addon fa fa-search" id="search-addon"></span>
                                <input type="text" class="form-control" placeholder="Search saved queries" aria-describedby="search-addon" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-7 col-xl-6 text-right text-nowrap mb-3">
                            <button type="button" class="btn btn-secondary">
                                <span class="fa fa-bookmark"></span>&nbsp;Save Query
                            </button>
                            <button type="button" class="btn btn-secondary">
                                <span class="fa fa-gear"></span>&nbsp;Manage Queries
                            </button>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header d-flex justify-content-between">
                            <div>Query Scope</div>
                        </div>
                        <div class="row card-block">
                            <div class="col-12 col-sm-9 mb-3 mb-sm-0 d-flex flex-wrap">
                                <span class="mr-4">
                                    <ng-template #dateTimePopover>Date/Time filters here</ng-template>
                                    <a href="javascript:void(0)" [ngbPopover]="dateTimePopover" popoverTitle="Date/Time" placement="bottom">
                                        Date/Time&nbsp;<span class="fa fa-caret-down"></span></a>
                                    <br />
                                    <span class="badge badge-default px-2">
                                        <a href="#">July 4-10, 2017; Mon-Fri</a>
                                    </span>
                                </span>
                                <span class="mr-4">
                                    <ng-template #placePopover>Place filters here</ng-template>
                                    <a href="javascript:void(0)" [ngbPopover]="placePopover" popoverTitle="Place" placement="bottom">
                                        Place&nbsp;<span class="fa fa-caret-down"></span>
                                    </a>
                                    <br />
                                    <span class="badge badge-default px-2">
                                        <a href="#">County: Alachua, Bradford, Clay, Putnam</a>
                                    </span>
                                </span>
                            </div>
                            <div class="col-12 col-sm-3 text-sm-right text-nowrap">
                                <button type="button" class="btn btn-sm btn-primary">Apply</button>
                                <button type="button" class="btn btn-sm btn-secondary">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 card-map" [class.card-collapsed]="collapseMap">
                        <div class="card-header d-flex justify-content-between">
                            <div><span class="fa fa-map-o"></span> Map</div>
                            <div ngbDropdown class="dropdown hidden-lg-up">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" id="baseMapMenuButton" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                                    Cartographic
                                </button>
                                <div class="dropdown-menu" aria-labelledby="baseMapMenuButton">
                                    <a class="dropdown-item" href="#">Cartographic</a>
                                    <a class="dropdown-item" href="#">Minimal</a>
                                    <a class="dropdown-item" href="#">Hybrid</a>
                                    <a class="dropdown-item" href="#">Aerial</a>
                                </div>
                            </div>
                            <div class="btn-group btn-group-sm hidden-md-down">
                                <button type="button" class="btn btn-secondary active">Cartographic</button>
                                <button type="button" class="btn btn-secondary">Minimal</button>
                                <button type="button" class="btn btn-secondary">Hybrid</button>
                                <button type="button" class="btn btn-secondary">Aerial</button>
                            </div>
                            <button type="button"
                                    class="btn btn-sm btn-secondary fa"
                                    [class.fa-angle-left]="collapseMap"
                                    [class.fa-angle-down]="!collapseMap"
                                    (click)="toggleMap()"></button>
                        </div>
                        <div class="card-block">
                            <event-map mapId="eventMap"></event-map>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between hidden-xs-down">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-secondary"><span class="fa fa-search-plus"></span> Zoom</button>
                                <button type="button" class="btn btn-secondary"><span class="fa fa-hand-pointer-o"></span> Pan</button>
                            </div>
                            <button type="button" class="btn btn-sm btn-secondary"><span class="fa fa-save"></span> Export</button>
                        </div>
                    </div>
                    <div class="card mb-3" [class.card-collapsed]="collapseGrid">
                        <div class="card-header d-flex justify-content-between">
                            <div><span class="fa fa-table"></span> Grid</div>
                            <div ngbDropdown class="dropdown hidden-lg-up">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" id="gridMenuButton" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                                    Crash
                                </button>
                                <div class="dropdown-menu" aria-labelledby="gridMenuButton">
                                    <a class="dropdown-item" href="#">Crash</a>
                                    <a class="dropdown-item" href="#">Vehicle</a>
                                    <a class="dropdown-item" href="#">Driver</a>
                                    <a class="dropdown-item" href="#">Non-Motorist</a>
                                    <a class="dropdown-item disabled" href="#">Violation</a>
                                </div>
                            </div>
                            <div class="btn-group btn-group-sm hidden-md-down">
                                <button type="button" class="btn btn-secondary active">Crash</button>
                                <button type="button" class="btn btn-secondary">Vehicle</button>
                                <button type="button" class="btn btn-secondary">Driver</button>
                                <button type="button" class="btn btn-secondary">Non-Motorist</button>
                                <button type="button" class="btn btn-secondary disabled">Violation</button>
                            </div>
                            <button type="button"
                                    class="btn btn-sm btn-secondary fa"
                                    [class.fa-angle-left]="collapseGrid"
                                    [class.fa-angle-down]="!collapseGrid"
                                    (click)="toggleGrid()"></button>
                        </div>
                        <div class="card-block">
                            Grid here
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between">
                            <div ngbDropdown class="dropdown hidden-sm-up">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" id="gridMenuButton2" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                                    All <span class="badge badge-pill badge-default">4559</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="gridMenuButton2">
                                    <a class="dropdown-item" href="#">
                                        All <span class="badge badge-pill badge-default">4559</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        Mapped <span class="badge badge-pill badge-default">3914</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        Unmapped <span class="badge badge-pill badge-default">645</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        Selected <span class="badge badge-pill badge-default">1</span>
                                    </a>
                                </div>
                            </div>
                            <div class="btn-group btn-group-sm hidden-xs-down">
                                <button type="button" class="btn btn-secondary active">
                                    All <span class="badge badge-pill badge-default">4559</span>
                                </button>
                                <button type="button" class="btn btn-secondary">
                                    Mapped <span class="badge badge-pill badge-default">3914</span>
                                </button>
                                <button type="button" class="btn btn-secondary">
                                    Unmapped <span class="badge badge-pill badge-default">645</span>
                                </button>
                                <button type="button" class="btn btn-secondary">
                                    Selected <span class="badge badge-pill badge-default">1</span>
                                </button>
                            </div>
                            <button type="button" class="btn btn-sm btn-secondary hidden-xs-down"><span class="fa fa-save"></span> Export</button>
                        </div>
                    </div>
                    <div class="card" [class.card-collapsed]="collapseCharts">
                        <div class="card-header d-flex justify-content-between">
                            <div><span class="fa fa-bar-chart"></span> Charts</div>
                            <div ngbDropdown class="dropdown hidden-sm-up">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" id="gridMenuButton" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                                    <span class="fa fa-bar-chart"></span>&nbsp;Bar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="gridMenuButton">
                                    <a class="dropdown-item" href="#"><span class="fa fa-bar-chart"></span>&nbsp;Bar</a>
                                    <a class="dropdown-item" href="#"><span class="fa fa-pie-chart"></span>&nbsp;Pie</a>
                                    <a class="dropdown-item" href="#"><span class="fa fa-circle-o"></span>&nbsp;Bubble</a>
                                </div>
                            </div>
                            <div class="btn-group btn-group-sm hidden-xs-down">
                                <button type="button" class="btn btn-secondary active"><span class="fa fa-bar-chart"></span>&nbsp;Bar</button>
                                <button type="button" class="btn btn-secondary"><span class="fa fa-pie-chart"></span>&nbsp;Pie</button>
                                <button type="button" class="btn btn-secondary"><span class="fa fa-circle-o"></span>&nbsp;Bubble</button>
                            </div>
                            <button type="button"
                                    class="btn btn-sm btn-secondary fa"
                                    [class.fa-angle-left]="collapseCharts"
                                    [class.fa-angle-down]="!collapseCharts"
                                    (click)="toggleCharts()"></button>
                        </div>
                        <div class="card-block">
                            Chart here
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col-12 col-sm-10 d-flex flex-wrap">
                                    <div ngbDropdown class="dropdown mr-3 text-nowrap">
                                        Event type
                                        <button class="btn btn-sm btn-secondary dropdown-toggle ml-2" id="chartEventMenuButton" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                                            Crash
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="chartEventMenuButton">
                                            <a class="dropdown-item" href="#">Crash</a>
                                            <a class="dropdown-item" href="#">Violation</a>
                                        </div>
                                    </div>
                                    <div ngbDropdown class="dropdown mr-3 text-nowrap">
                                        Attribute
                                        <button class="btn btn-sm btn-secondary dropdown-toggle ml-2" id="chartAttr1MenuButton" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                                            Weather
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="chartAttr1MenuButton">
                                            <a class="dropdown-item" href="#">Weather</a>
                                            <a class="dropdown-item" href="#">Time of Day</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-xs-down col-2 text-right">
                                    <button type="button" class="btn btn-sm btn-secondary"><span class="fa fa-save"></span> Export</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                Signal Four Analytics is brought to you by: <br />
                The GeoPlan Center &minus; Department of Urban & Regional Planning &minus; University of Florida
            </div>
        </div>
    </div>
</div>
