<section class="mg">
    <div class="mg-filters">filters</div>
    <div class="mg-filter-controls">filter controls</div>
    <div class="mg-scope">scope</div>
    <div class="mg-map-controls">map controls</div>
    <div class="mg-map" id="mapArea">
        <event-map mapId="eventMap"></event-map>
    </div>
    <kendo-grid [data]="gridData" [class]="['mg-attributes']">
        <kendo-grid-column field="ProductID" title="ID" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Name" width="250">
        </kendo-grid-column>
        <kendo-grid-column field="Category.CategoryName" title="Category">
        </kendo-grid-column>
        <kendo-grid-column field="UnitPrice" title="Price" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
        </kendo-grid-column>
        <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
            <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" [checked]="dataItem.Discontinued" disabled />
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <div class="mg-attribute-controls">attribute controls</div>
</section>
