<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Place</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 mb-1">
                Geographic extent
            </div>
            <div class="col-12 geo-extent-btn-group">
                <button-group [multipleSelect]="false"
                              [items]="['Statewide','County','City']"
                              [(ngModel)]="geoExtent"></button-group>
            </div>
        </div>
        <ng-container *ngIf="geoExtent==='County'">
            <div class="row">
                <div class="col-12 mb-1">
                    County
                </div>
                <div class="col-12">
                    <kendo-multiselect [filterable]="true"
                                       [data]="filteredCounties"
                                       textField="name"
                                       valueField="key"
                                       placeholder="Search counties"
                                       (filterChange)="filterCounties($event)"
                                       [(ngModel)]="selectedCounties"></kendo-multiselect>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="geoExtent==='City'">
            <div class="row">
                <div class="col-12 mb-1">
                    City
                </div>
                <div class="col-12">
                    <kendo-multiselect [filterable]="true"
                                       [data]="filteredCities"
                                       textField="name"
                                       valueField="key"
                                       placeholder="Search cities"
                                       (filterChange)="filterCities($event)"
                                       [(ngModel)]="selectedCities"></kendo-multiselect>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c()">Apply</button>
    </div>
</ng-template>
