<div class="row">
    <b>Contractor Name:</b>&nbsp;
    {{state.selectedRequest.contractorNm}}
</div>
<div class="row">
    <b>Contractor Email Domain:</b>&nbsp;
    {{state.selectedRequest.contractorEmailDomain}}
</div>
<div class="row justify-content-between">
    <div>
        <b>Contract Start Date: </b>&nbsp;
        {{state.selectedRequest.contractStartDt | date}}
    </div>
    <div>
        <b>Contract End Date:</b>&nbsp;
        {{state.selectedRequest.contractEndDt | date: shortdate}}
    </div>
    <div>
        <button type="button" class="btn btn-sm" (click)="openContractViewer()">View Contract</button>
    </div>
</div>
<div class="row font-italic">
    <!-- requestor info-->
    <b>Request made by:</b>
</div>
<div class="row font-italic">
    <div class="col offset-2">
        {{state.selectedRequest.requestorFirstNm}}
        {{state.selectedRequest.requestorLastNm}}
    </div>
</div>
<div class="row font-italic">
    <div class="col offset-2">
        {{state.selectedRequest.requestorEmail}}
        <i [hidden]="!state.selectedRequest.warnRequestorEmailCd" data-toggle="tooltip" title="Warning messages here">
            &nbsp;<i class="fa fa-exclamation-circle text-danger" data-toggle="tooltip" data-placement="top" title="Testing"></i>
        </i>
    </div>
</div>
<div class="row font-italic">
    <div class="col offset-2">
        {{state.selectedRequest.agncyNm}}
    </div>
</div>

<!--<div class="row">
    <label [hidden]="!state.selectedRequest.warnRequestorEmailCd" class="warning-message">Warning: Requestor's email domain does not match agency's email domain</label>
</div>-->
<hr/>

<div class="row font-weight-bold justify-content-start">
    <div class="col">
        <input type="radio"
               [(ngModel)]="state.currentRequestActionResults.approved"
               name="approved"
               (change)="approved(true)"
               [value]="true" />&nbsp;Approve Vendor
    </div>
    <div class="col">
        <input type="radio"
               [(ngModel)]="state.currentRequestActionResults.approved"
               name="approved"
               (change)="approved(false)"
               [value]="false" />&nbsp;Reject Vendor
    </div>
</div>
<div [hidden]=" !this.state.currentRequestActionResults.approved">
    <input type="checkbox"
           [disabled]="!state.currentRequestActionResults.approved"
           [(ngModel)]="state.currentRequestActionResults.accessBefore70Days"
           [value]="true" />&nbsp; Access Before 70 days
</div>



