<h5>Approve New Consulant</h5>
<div class="container-fluid">
    <div class="row">
        <b>Consultant Name:</b>
        {{state.selectedRequest.consultantFirstNm}}
        {{state.selectedRequest.consultantLastNm}}
    </div>
    <div class="row">
        <b>Email:</b>
        {{state.selectedRequest.consultantEmail}}
    </div>
    <div class="row">
        <b>Agency:</b>
        <input style="border:none" />
    </div>
    <div class="row">
        <b>Contract Start Date:</b>
        {{state.selectedRequest.contractStartDt}}
    </div>
    <div class="row">
            <b>Contract End Date:</b>
            {{state.selectedRequest.contractEndDt}}
            <button class="pull-right">View Contract</button>
    </div>
    <div>
        <label>Reason for Access:</label>
        <textarea id="reason" rows="4" cols="45" readonly>{{state.selectedRequest.accessReasonTx}}</textarea>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <input type="radio" class="form-check-input"
                   [(ngModel)]="state.currentRequestActionResults.approved"
                   name="approved" [value]="true" />Approve Consultant
        </div>
        <div class="col-md-6">
            <input type="radio" class="form-check-input"
                   [(ngModel)]="state.currentRequestActionResults.approved"
                   name="approved" [value]="false" />Reject Consultant
        </div>
    </div>
    <div class="row">
        <label>Reason for rejection (to be sent to person making request):</label>
        <textarea id="reason" rows="4" cols="45" disabled="{{state.currentRequestActionResults.approved}}" [(ngModel)]="state.currentRequestActionResults.rejectionReason"></textarea>
    </div>
</div>
