<form #subform="ngForm" name="subform">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <input type="radio" name="lea" [(ngModel)]="state.currentRequestActionResults.lea"
                       [value]="false"
                       required/>Non-Law Enforcement
            </div>
            <div class="col-md-6">
                <input type="radio" name="lea" [(ngModel)]="state.currentRequestActionResults.lea"
                       [value]="true"
                       required />Law Enforcement
            </div>
        </div>
        <div class="row">
            <b>Agency Name:</b>{{state.selectedRequest.newAgncyNm}}
        </div>
        <div class="row">
            <b>Agency Email Domain:</b>
            {{state.selectedRequest.newAgncyEmailDomain}}
        </div>
        <div class="row">
            <b>Agency:</b>
            {{state.selectedRequest.newAgncyNm}}
        </div>
        <div class="row">
            <!-- requestor info-->
            <b>Requestor Name:</b>
            {{state.selectedRequest.requestorFirstNm}}
            {{state.selectedRequest.requestorLastNm}}
        </div>
        <div class="row">
            <b>Email:</b>
            {{state.selectedRequest.requestorEmail}}
        </div>
        <div class="row">
            <label [hidden]="!state.selectedRequest.warnRequestorEmailCd" class="warning-message">Warning: Requestor's email domain does not match agency's email domain</label>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6"  >
                <input type="radio"
                       [(ngModel)]="state.currentRequestActionResults.approved"
                        (change)="approved(true)"
                       name="approved" [value]="true"
                       />Approve Agency
            </div>
            <div class="col-md-6">
                <input type="radio"
                       [disabled]="disableRejectRb()"
                       [(ngModel)]="state.currentRequestActionResults.approved"
                        (change)="approved(false)"
                       name="approved" [value]="false"
                       />Reject Agency
            </div>
        </div>
        <div>
            <input type="checkbox" name="reportAccess"
                   [disabled]="!state.currentRequestActionResults.approved"
                   [(ngModel)]="state.currentRequestActionResults.accessBefore70Days"
                   [readonly]="state.currentRequestActionResults.approved"
                   [value]="true" /> Report Access Before 70 days
        </div>
    </div>
    <hr />
</form>
