<div>
    <!-- requestor info-->
    <label>First Name:</label>
    <label id="firstName">Sara</label>
    <label>Last Name:</label>
    <label id="LastName">Yorty</label>
    <label>Email:</label>
    <label id="email">syorty@alachua.us</label>
    <label>Agency:</label>
    <label id="agency">Alachua County Traffic Engineering</label>
</div>
<label id="warning" style="background-color:red" hidden="hidden">Warning: Use's email does not match agency's</label>

<div>
    <label>Reason for rejection (to be sent to person making request):</label>
    <textarea id="reason" rows="4" cols="45"></textarea>
</div>

