<h5>Approve New Agency</h5>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <input type="radio" name="lea" [(ngModel)]="state.currentRequestActionResults.lea"
                   [value]="false" />Non-Law Enforcement
        </div>
        <div class="col-md-6">
            <input type="radio" name="lea" [(ngModel)]="state.currentRequestActionResults.lea"
                    [value]="true" />Law Enforcement
        </div>
    </div>
    <div class="row">
        <b>Agency Name: </b>{{state.selectedRequest.newAgncyNm}}
    </div>
    <div class="row">
        <b>Agency Email Domain:</b>
        {{state.selectedRequest.newAgncyEmailDomain}}
    </div>
    <div class="row">
        <b>Agency:</b>
        {{state.selectedRequest.agncyNm}}
    </div>
    <div class="row">
        <!-- requestor info-->
        <b>Requestor Name:</b>
        {{state.selectedRequest.requestorFirstNm}}
        {{state.selectedRequest.requestorLastNm}}
    </div>
    <div class="row">
        <b>Email:</b>
        {{state.selectedRequest.requestorEmail}}
    </div>
    <div class="row">
        <label [hidden]="hideRequestorWarning" style="color:red">Warning: Requestor's email domain does not match requestor's agency's email domain</label>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <input type="radio" class="form-check-input"
                   [(ngModel)]="state.currentRequestActionResults.approved"
                   name="approved" [value]="true" />Approve Agency
        </div>
        <div class="col-md-6">
            <input type="radio" class="form-check-input"
                   [(ngModel)]="state.currentRequestActionResults.approved"
                   name="approved" [value]="false" />Reject Agency
        </div>
    </div>
    <div>
        <input type="checkbox" [disabled]="!state.currentRequestActionResults.approved"
               [(ngModel)]="state.currentRequestActionResults.accessBefore70Days"
               [value]="true"
               /> Report Access Before 70 days
    </div>
    <div class="row">
        <label>Reason for rejection (to be sent to person making request):</label>
        <textarea class="form-control" id="reason" rows="4" [disabled]="state.currentRequestActionResults.approved"
                  [(ngModel)]="state.currentRequestActionResults.rejectionReason"></textarea>
    </div>
</div>
<hr/>

