<h5>Approve New Consulant</h5>
<div class="container-fluid">
    <div class="row">
        <b>Consultant Name:</b>
        {{state.selectedRequest.consultantFirstNm}}
        {{state.selectedRequest.consultantLastNm}}
    </div>
    <div class="row">
        <b>Email:</b>
        {{state.selectedRequest.consultantEmail}}
    </div>
    <div class="row">
        <b>Contractor:</b>
        {{state.selectedRequest.contractorNm}}
    </div>
    <div class="row">
        <label [hidden]="hideConsultantWarning" style="color:red">Warning: Consultants's email domain does not match Consultants's contractor's email domain</label>
    </div>
    <div class="row">
        <b>Contract Start Date:</b>
        {{state.selectedRequest.contractStartDt}}
    </div>
    <div class="row">
            <b>Contract End Date:</b>
            {{state.selectedRequest.contractEndDt}}
            <button class="pull-right" (click)="openContractViewer()">View Contract</button>
    </div>
    <div>
        <label>Reason for Access:</label>
        <textarea class="form-control" id="reason" rows="4" readonly>{{state.selectedRequest.accessReasonTx}}</textarea>
    </div>

    <div class="row">
        <!-- requestor info-->
        <b>Requestor Name:</b>
        {{state.selectedRequest.requestorFirstNm}}
        {{state.selectedRequest.requestorLastNm}}
    </div>
    <div class="row">
        <b>Email:</b>
        {{state.selectedRequest.requestorEmail}}
    </div>
    <div class="row">
        <b>Agency:</b>
        {{state.selectedRequest.agncyNm}}
    </div>
    <div class="row">
        <label [hidden]="hideRequestorWarning" style="color:red">Warning: Requestor's email domain does not match requestor's agency's email domain</label>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <input type="radio" class="form-check-input"
                    [(ngModel)]="state.currentRequestActionResults.approved"
                    name="approved" [value]="true" />Approve Consultant
        </div>
        <div class="col-md-6">
            <input type="radio" class="form-check-input"
                    [(ngModel)]="state.currentRequestActionResults.approved"
                    name="approved" [value]="false" />Reject Consultant
        </div>
    </div>
    <div>
        <input type="checkbox" [disabled]="!state.currentRequestActionResults.approved"
                [(ngModel)]="state.currentRequestActionResults.accessBefore70Days"
                [value]="true" /> Report Access Before 70 days
    </div>
</div>
