<div class="row">
    <!-- requestor info-->
    <b>Requestor Name:</b>
    {{state.selectedRequest.requestorFirstNm}}
    {{state.selectedRequest.requestorLastNm}}
</div>
<div class="row">
    <b>Email:</b>
    {{state.selectedRequest.requestorEmail}}
</div>
<div class="row">
    <b>Agency:</b>
    {{state.selectedRequest.agncyNm}}
</div>
<div class="row">
    <warning-messages errorType="requestor" [errorMsg]="state.selectedRequest.warnRequestorEmailCd"></warning-messages>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <label>
            <input type="radio"
                    [(ngModel)]="state.currentRequestActionResults.approved"
                    (change)="approved(true)"
                    name="approved"
                    [value]="true" />Approve Employee
        </label>
    </div>
    <div class="col-md-6">
        <label>
            <input type="radio"
                    [(ngModel)]="state.currentRequestActionResults.approved"
                    name="approved"
                    (change)="approved(false)"
                    [value]="false" />Reject Employee
        </label>
    </div>
</div>
<br />