<ng-template #content let-c="close" let-d="dismiss" >
    <div class="action-modal-header justify-content-between">
        <div>{{state.selectedRequest.requestStatus | requestStatus }}</div>
        <div>
            <button type="button" class="closebn " aria-label="Close" (click)="d('Cross click')">x</button>
        </div>
    </div>
    <div class="container">
        <request-action-component></request-action-component>
    </div>
</ng-template>

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h5>New User Request Master Page - request queue</h5>
        </div>
        <!-- filter button toolbar-->
        <div class="btn-group btn-group-sm pull-right" role="group">
            <button type="button" class="btn btn-outline-primary active" (click)="filterQueueBy(queueFilter.All)">All</button>
            <button type="button" class="btn btn-outline-primary active" (click)="filterQueueBy(queueFilter.Pending)">Pending</button>
            <button type="button" class="btn btn-outline-primary active" (click)="filterQueueBy(queueFilter.Completed)">Completed</button>
            <button type="button" class="btn btn-outline-primary active" (click)="filterQueueBy(queueFilter.Rejected)">Rejected</button>
        </div>
        <!-- queue count -->
        <div><b>Showing {{requestShowingCount()}} out of {{totalRequestCount()}} records</b></div>
        <!-- queue -->
        <table class="pull-right" border="1" style="width:100%" align="center" >
            <thead>
                <tr>
                    <th name="reqNbr" id="xxx" style="width: 5%" (click)="sortColumn(queueColumn.ReqNbr)">Request Nbr</th>
                    <th style="width: 7%" (click)="sortColumn(queueColumn.ReqDt)">Request Dt</th>
                    <th style="width: 10%" (click)="sortColumn(queueColumn.ReqType)">Request Type</th>
                    <th style="width: 10%" (click)="sortColumn(queueColumn.Requestor)">Requestor</th>
                    <th style="width: 20%" (click)="sortColumn(queueColumn.ReqAgncy)">Requestor Agency</th>
                    <th style="width: 5%" (click)="sortColumn(queueColumn.ReqStatus)">Request Status</th>
                    <th style="width: 7%" (click)="sortColumn(queueColumn.AcctCreated)">Account Created</th>
                    <th style="width: 10%">Action</th>
                    <th style="width: 20%" (click)="sortColumn(queueColumn.Comment)">Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let newUserReq of (filteredRequests | orderby:state.sortField)">
                    <td style="width: 5%">{{newUserReq.requestNbr}}</td>
                    <td style="width: 7%">{{newUserReq.requestDt | date:"MM/dd/yy"}}</td>
                    <td style="width: 10%">{{newUserReq.requestType | requestType }}</td>
                    <td style="width: 10%">{{newUserReq.requestorFirstNm + " " + newUserReq.requestorLastNm}}</td>
                    <td style="width: 20%">{{newUserReq.agncyNm}}</td>
                    <td style="width: 5%">{{newUserReq.requestStatus | requestStatus }}</td>
                    <td style="width: 7%">{{newUserReq.userCreatedDt | date:"MM/dd/yy"}}</td>
                    <td style="width: 10%">
                        <button [hidden]= "hideProcessRequestButton(newUserReq)" (click)="openActionModal(content, newUserReq)">Process Request</button>
                    </td>
                    <td style="width: 20%">{{newUserReq.adminComment}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

