
<form #actionForm="ngForm"  (ngSubmit)="submit()" #spy2>
    <div class="font-weight-bold">Request #{{state.selectedRequest.requestNbr}} on {{state.selectedRequest.requestDt|date: 'M/d/yy'}}
    </div>
    <div class="modal-body">
        <new-employee-component *ngIf="newUserRequestMatch(newUserRequestStatus.NewUser)" #actionTypeRef></new-employee-component>
        <new-agency-component *ngIf="newUserRequestMatch(newUserRequestStatus.NewAgency)" #actionTypeRef></new-agency-component>
        <agency-create-component *ngIf="newUserRequestMatch(newUserRequestStatus.CreateAgency)" #actionTypeRef></agency-create-component>
        <new-vendor-component *ngIf="newUserRequestMatch(newUserRequestStatus.NewVendor)" #actionTypeRef></new-vendor-component>
        <new-consultant-component *ngIf="newUserRequestMatch(newUserRequestStatus.NewConsultant)" #actionTypeRef></new-consultant-component>
        <hr />
        <div class="row font-weight-bold justify-content-center">
            <div class="col-6">
                <input type="radio" class="form-check-input"
                       [(ngModel)]="state.currentRequestActionResults.approved"
                       name="approved"
                       (change)="approved(true)"
                       required
                       [value]="true" />&nbsp;Approve {{state.selectedRequest.requestStatus | approveRejectType}}
            </div>
            <div class="col-5">
                <input type="radio"
                       class="form-check-input"
                       [(ngModel)]="state.currentRequestActionResults.approved"
                       name="approved"
                       (change)="approved(false)"
                       required
                       [value]="false" />&nbsp;Reject {{state.selectedRequest.requestStatus | approveRejectType}}
            </div>
        </div>
        <div [hidden]="hideReportAccessCb()">
            <input type="checkbox" name="reportAcessCb"
                   [disabled]="!state.currentRequestActionResults.approved"
                   [(ngModel)]="state.currentRequestActionResults.accessBefore70Days"
                   [readonly]="state.currentRequestActionResults.approved"
                   [value]="true" />&nbsp; Access Before 70 days
        </div>
        <div class="row" [hidden]="hideReasonTextArea()">
            <label class="font-weight-bold">Reason for rejection (to be sent to person making request):</label>
            <textarea class="form-control" id="reason" rows="3" name="reason"
                      [disabled]="disableTextArea()"
                      [readonly]="state.currentRequestActionResults.approved"
                      [required]="!state.currentRequestActionResults.approved"
                      [(ngModel)]="state.currentRequestActionResults.rejectionReason"
                      placeholder="Type reason for rejection here (REQUIRED)">
            </textarea>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!actionForm.valid">
            OK
        </button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">
            Cancel
        </button>
    </div>
  </form>
