<ng-template #content let-c="close" let-d="dismiss" >
        <div class="modal-header">
            <h4 class="modal-title">{{state.selectedRequest.requestStatus | requestStatus }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <div class="container">
        <request-action-component></request-action-component>
    </div>
</ng-template>


<div class="row">
    <h5>New User Request Master Page - request queue</h5>
</div>
<div class="row">
    <!-- filter button toolbar-->
    <div class="btn-group" role="group">
        <button class="btn btn-sm" type="button" (click)="filterQueueBy(queueFilter.All)">All</button>
        <button class="btn btn-sm" type="button" (click)="filterQueueBy(queueFilter.Pending)">Pending</button>
        <button class="btn btn-sm" type="button" (click)="filterQueueBy(queueFilter.Completed)">Completed</button>
        <button class="btn btn-sm" type="button" (click)="filterQueueBy(queueFilter.Rejected)">Rejected</button>
    </div>
</div>
<div class="row">
    <!-- queue -->
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-inverse">
            <tr>
                <th class="text-center align-middle" name="reqNbr" (click)="sortColumn(queueColumn.ReqNbr)">Request #</th>
                <th class="text-center align-middle" (click)="sortColumn(queueColumn.ReqDt)">Request Date</th>
                <th class="text-center align-middle" (click)="sortColumn(queueColumn.ReqType)">Request Type</th>
                <th class="text-center align-middle" (click)="sortColumn(queueColumn.Requestor)">Requestor</th>
                <th class="text-center align-middle" (click)="sortColumn(queueColumn.ReqAgncy)">Requestor Agency</th>
                <th class="text-center align-middle" (click)="sortColumn(queueColumn.ReqStatus)">Request Status</th>
                <th class="text-center align-middle" (click)="sortColumn(queueColumn.AcctCreated)">Account Created</th>
                <th class="text-center align-middle">Action</th>
                <th class="text-center align-middle" (click)="sortColumn(queueColumn.Comment)">Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let newUserReq of (filteredRequests | orderby:state.sortField)">
                <td>{{newUserReq.requestNbr}}</td>
                <td>{{newUserReq.requestDt | date:"MM/dd/yy"}}</td>
                <td>{{newUserReq.requestType | requestType }}</td>
                <td>{{newUserReq.requestorFirstNm + " " + newUserReq.requestorLastNm}}</td>
                <td>{{newUserReq.agncyNm}}</td>
                <td>{{newUserReq.requestStatus | requestStatus }}</td>
                <td>{{newUserReq.userCreatedDt | date:"MM/dd/yy"}}</td>
                <td class="align-middle">
                    <button class="btn btn-sm btn-primary" [hidden]="hideProcessRequestButton(newUserReq)" (click)="openActionModal(content, newUserReq)">Process Request</button>
                </td>
                <td>{{newUserReq.adminComment}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <!-- queue count -->
    <div><b>Showing {{requestShowingCount()}} out of {{totalRequestCount()}} records</b></div>
</div>
