<div class="container">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">{{this.state.selectedRequest.requestStatus | requestStatus }}</span>
        </button>
    </div>
    <div class="modal-body">
        <new-employee-component *ngIf="newUserRequestMatch(newUserRequestStatus.NewUser)"></new-employee-component>
        <new-agency-component *ngIf="newUserRequestMatch(newUserRequestStatus.NewAgencyAndUser)"></new-agency-component>
        <agency-create-component *ngIf="newUserRequestMatch(newUserRequestStatus.CreateAgencyAndUser)"></agency-create-component>
        <new-contractor-component *ngIf="newUserRequestMatch(newUserRequestStatus.NewContractorAndConsultant)"></new-contractor-component>
        <new-consultant-component *ngIf="newUserRequestMatch(newUserRequestStatus.NewConsultant)||newUserRequestMatch(newUserRequestStatus.NewContractorAndConsultant)"></new-consultant-component>
        <new-non-fl-component *ngIf="newUserRequestMatch(newUserRequestStatus.NewNonFLUser)"></new-non-fl-component>
    </div>
</div>