:root {
    --mainColor: white;
}

body {
    background-color: var(--mainColor);
}

.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.warning-message {
    color: red;
}

.action-modal-header {
    margin: 0;
    height: 1rem;
    background-color: whitesmoke;
    font-weight: bold;
    font-size: larger;
}

.queue-filter-btn {
    background-color: gray;
    color: lightgray;
    border: 1px solid black;
}
