:root {
    --mainColor: white;
}

body {
    background-color: var(--mainColor);
}

.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.queue-filter-btn {
    background-color: gray;
    color: lightgray;
    border: 1px solid black;
}
