<nav class="navbar navbar-s4 navbar-toggleable-sm navbar-inverse bg-inverse justify-content-between sticky-top">

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleCollapsed()">
        <span class="fa fa-bars"></span>
    </button>

    <div class="flex-row flex-nowrap d-flex align-items-center">
        <a class="navbar-brand" href="javascript:void(0)">
            Signal Four Analytics
        </a>

        <div class="navbar-text text-nowrap">
            <!-- responsive cues -->
            <div class="hidden-lg-down">xl <span class="fa fa-rocket"></span></div>
            <div class="hidden-md-down hidden-xl-up">lg <span class="fa fa-plane"></span></div>
            <div class="hidden-sm-down hidden-lg-up">md <span class="fa fa-train"></span></div>
            <div class="hidden-xs-down hidden-md-up">sm <span class="fa fa-bus"></span></div>
            <div class="hidden-sm-up">xs <span class="fa fa-taxi"></span></div>
        </div>
    </div>

    <div ngbDropdown class="dropdown hidden-sm-down">
        <button class="btn btn-sm btn-secondary dropdown-toggle" id="modeDropdownMenu" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
            Event Analysis
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Event Analysis</a>
            <a class="dropdown-item" href="#">Network Analysis</a>
            <a class="dropdown-item" href="#">Trends</a>
            <a class="dropdown-item" href="#">Reports</a>
        </div>
    </div>

    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
            <li class="nav-item hidden-md-up">
                <a class="nav-link" href="javascript:void(0)">Event Analysis</a>
            </li>
            <li class="nav-item hidden-md-up">
                <a class="nav-link" href="javascript:void(0)">Network Analysis</a>
            </li>
            <li class="nav-item hidden-md-up">
                <a class="nav-link" href="javascript:void(0)">Trends</a>
            </li>
            <li class="nav-item hidden-md-up">
                <a class="nav-link" href="javascript:void(0)">Reports</a>
            </li>
            <li class="dropdown-divider hidden-md-up"></li>
            <!--<li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Log in</a>
            </li>-->
            <li class="nav-item hidden-sm-down">
                <a class="nav-link" href="javascript:void(0)">
                    <span class="badge badge-pill badge-danger">2</span>
                </a>
            </li>
            <li ngbDropdown class="nav-item dropdown hidden-sm-down">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                    username
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="javascript:void(0)">Change password</a>
                    <a class="dropdown-item" (click)="logOut()" href="javascript:void(0)">Log out</a>
                </div>
            </li>
            <li class="nav-item hidden-md-up">
                <a class="nav-link" href="javascript:void(0)">
                    Notifications
                    <span class="badge badge-pill badge-danger">2</span>
                </a>
            </li>
            <li class="nav-item hidden-md-up">
                <a class="nav-link" href="javascript:void(0)">Change password</a>
            </li>
            <li class="nav-item hidden-md-up">
                <a class="nav-link" href="javascript:void(0)">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
