<div class="container-fluid">
    <!-- S4 HEADER -->
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <div class="text-nowrap">
                    <a class="fa fa-bars navbar-brand" href="javascript:void(0)" (click)="toggleMenu()"></a>
                    <a class="navbar-brand" href="javascript:void(0)">Signal Four Analytics</a>
                </div>
                <div ngbDropdown class="dropdown mx-auto">
                    <button class="btn btn-secondary dropdown-toggle" id="modeDropdownMenu" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                        Event Analysis
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Log in</a>
                        </li>
                        <li ngbDropdown class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                                username
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="javascript:void(0)">Change password</a>
                                <a class="dropdown-item" (click)="logOut()" href="javascript:void(0)">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- S4 BODY -->
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
