<nav class="navbar navbar-s4 navbar-expand-md navbar-dark bg-dark justify-content-between sticky-top">

    <div class="flex-row flex-nowrap d-flex align-items-center">
        <a class="navbar-brand" routerLink="/">
            Signal Four Analytics
            <!-- responsive cues -->
            <ng-container *ngIf="showResponsiveCues">
                -
                <span class="d-none d-xl-inline">xl <span class="fa fa-rocket"></span></span>
                <span class="d-none d-lg-inline d-xl-none">lg <span class="fa fa-plane"></span></span>
                <span class="d-none d-md-inline d-lg-none">md <span class="fa fa-train"></span></span>
                <span class="d-none d-sm-inline d-md-none">sm <span class="fa fa-bus"></span></span>
                <span class="d-sm-none">xs <span class="fa fa-taxi"></span></span>
            </ng-container>
        </a>
    </div>

    <!-- mode selector (if authenticated) -->
    <div ngbDropdown class="nav-item dropdown" *ngIf="identity.isAuthenticated">
        <button class="btn btn-sm btn-light dropdown-toggle" id="modeDropdownMenu" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
            {{this.currentMode}}
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="modeDropdownMenu">
            <a class="dropdown-item" routerLink="/event">Event Analysis</a>
            <a class="dropdown-item" routerLink="/reporting">Reporting</a>
            <ng-container *ngIf="isAdmin">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/admin">Administration</a>
            </ng-container>
        </div>
    </div>

    <!-- login link (if not authenticated) -->
    <ul class="navbar-nav" *ngIf="!identity.isAuthenticated">
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Log in</a>
        </li>
    </ul>

    <!-- complete menu (if authenticated) -->
    <ng-container *ngIf="identity.isAuthenticated">
        <button class="navbar-toggler" type="button" (click)="toggleCollapsed()">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ml-md-auto">
                <!-- show menu items as collapsible navbar at xs/sm only -->
                <li class="nav-item d-md-none">
                    <a class="nav-link" href="javascript:void(0)" (click)="logOut()">Log out</a>
                </li>
                <!-- show menu items as dropdown at md+ -->
                <li ngbDropdown placement="bottom-right" class="nav-item dropdown d-none d-md-block">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink">
                        {{identity.currentUser.userName}}
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="logOut()">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </ng-container>
</nav>

<router-outlet></router-outlet>
