<div class="container">
    <div class="alert alert-danger">
        Unauthorized. <button (click)="logIn()" ngbTooltip="Test" container="body" placement="right">Log in</button>
    </div>
    <div class="row">
        <div class="col-md-4 push-md-4">
            Username: <input type="text" [value]="userName" />
        </div>
        <div class="col-md-4 push-md-4">
            Password: <input type="password" [value]="password" />
        </div>
        <button (click)="logIn()">Log in</button>
    </div>
</div>
